[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "submodules/kmc-lotto"]
	path = submodules/kmc-lotto
	url = git@github.com:bpuchala/kmc-lotto.git
