name: Test CASM dependencies from PyPI on Ubuntu

on:
  push:
  pull_request:
  schedule:
    - cron: '0 12 * * 0'

jobs:
  install-and-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Set up requirements & configuration variables
        run: |
          sudo apt-get update
          sudo apt-get install build-essential cmake
          pip install --upgrade pip wheel build

      ### libcasm-global ###
      - name: checkout libcasm-global tests
        uses: actions/checkout@v4
        with:
          repository: prisms-center/CASMcode_global
          path: CASMcode_global
          ref: v2.0.5

      - name: test libcasm-global
        shell: bash
        run: |
          cd CASMcode_global
          pip install libcasm-global==2.0.5
          pip install -r test_requirements.txt
          python -m pytest -rsap python/tests

      ### libcasm-composition ###
      - name: checkout libcasm-composition tests
        uses: actions/checkout@v4
        with:
          repository: prisms-center/CASMcode_composition
          path: CASMcode_composition
          ref: v2.0a3

      - name: test libcasm-composition
        if: steps.cache-libcasm-composition-restore.outputs.cache-hit != 'true'
        shell: bash
        run: |
          cd CASMcode_composition
          pip install libcasm-composition==2.0a3
          pip install -r test_requirements.txt
          python -m pytest -rsap python/tests

      ### libcasm-xtal ###
      - name: checkout libcasm-xtal tests
        uses: actions/checkout@v4
        with:
          repository: prisms-center/CASMcode_crystallography
          path: CASMcode_crystallography
          ref: v2.0a10

      - name: test libcasm-xtal
        shell: bash
        run: |
          cd CASMcode_crystallography
          pip install libcasm-xtal==2.0a10
          pip install -r test_requirements.txt
          python -m pytest -rsap python/tests

      ### libcasm-clexulator ###
      - name: checkout libcasm-clexulator tests
        uses: actions/checkout@v4
        with:
          repository: prisms-center/CASMcode_clexulator
          path: CASMcode_clexulator
          ref: v2.0a5

      - name: test libcasm-clexulator
        shell: bash
        run: |
          cd CASMcode_clexulator
          pip install libcasm-clexulator==2.0a5
          pip install -r test_requirements.txt
          echo "CASM_PREFIX=$(python -m libcasm.casmglobal --prefix)" >> "$GITHUB_ENV"
          CASM_SOFLAGS="-shared -Wl,--no-as-needed"
          echo "CASM_SOFLAGS=${CASM_SOFLAGS}" >> "$GITHUB_ENV"
          python -m pytest -rsap python/tests

      ### libcasm-configuration ###
      - name: checkout libcasm-configuration tests
        uses: actions/checkout@v4
        with:
          repository: prisms-center/CASMcode_configuration
          path: CASMcode_configuration
          ref: v2.0a4

      - name: test libcasm-configuration
        shell: bash
        run: |
          cd CASMcode_configuration
          pip install libcasm-configuration==2.0a4
          pip install -r test_requirements.txt
          echo "CASM_PREFIX=$(python -m libcasm.casmglobal --prefix)" >> "$GITHUB_ENV"
          CASM_SOFLAGS="-shared -Wl,--no-as-needed"
          echo "CASM_SOFLAGS=${CASM_SOFLAGS}" >> "$GITHUB_ENV"
          python -m pytest -rsap python/tests

      ### libcasm-monte ###
      - name: checkout libcasm-monte tests
        uses: actions/checkout@v4
        with:
          repository: prisms-center/CASMcode_monte
          path: CASMcode_monte
          ref: v2.0a2

      - name: test libcasm-monte
        shell: bash
        run: |
          cd CASMcode_monte
          pip install libcasm-monte==2.0a2
          pip install -r test_requirements.txt
          echo "CASM_PREFIX=$(python -m libcasm.casmglobal --prefix)" >> "$GITHUB_ENV"
          CASM_SOFLAGS="-shared -Wl,--no-as-needed"
          echo "CASM_SOFLAGS=${CASM_SOFLAGS}" >> "$GITHUB_ENV"
          python -m pytest -rsap python/tests